body{
    background: yellowgreen;   
   }
.content {
    background: rgb(122, 50, 205);   
   }
   .content2 {
    background: rgb(50, 156, 205);   
   }
   .content2:hover   {
    background: rgb(205, 68, 50);  
    height: 300px; 
   }